body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

:root {
--main-width: 620px;
--post-width: 620px;
}

.logo a {
    font-size: 16px;
    font-weight: 500;
}

sup {
    display: none;
}

h2 {
    font-size: 20px;
}

h1, h2, h3, h4, h5, .post-title, .post-content a {
    font-weight: 500;
}


p, ul, ol, li, .post-content p, .post-content ul, .post-content ol {
    font-size: 15px;
    font-weight: 300;
}

strong {
    font-weight: 500;
}

.post-content hr {
    height: 1px;
    background: transparent;
}

.list-page {
    background: #fff;
}

.post-entry:hover .entry-header h2 {
    color: #000;
    box-shadow: none;
}

.post-content a, .post-content a:hover {
    box-shadow: none;
}

.post-entry {
    transition: background-color 300ms;
    border: none;
    padding: 16px;
}

.post-entry:hover {
    background-color: #f1f4f5;
}

.post-entry img {
    transition: all 300ms;
}

.post-entry:hover img {
    transform: translateY(-4px);
}

.entry-cover {
    margin: 0;
}

.entry-header {
    padding-top: 2%;
    font-size: 16px;
}

.first-entry .entry-content {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    line-height: 1.4em;
}

.entry-content {
    font-size: 16px;
    color: #777e7f;
}

.subtext {
    font-size: 0.9rem;
    display: block;
    margin-top: 0.5em;
    color: #9b9fa0;
}

.card-year {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 16px;
}

.card-background, .card-background-stack {
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: background-color 300ms;
}


.card-big-margin {
    padding: 1% 2%;
    margin: 16px -15px;
}


.card-small-margin {
    padding: 0 2%;
    margin: 8px -15px;
}

.card-link {
    padding: 3%;
    border-radius: 8px;
    background-color: #f1f4f5;
    align-items: center;
    gap: 16px
}

.image-thumb {
    transition: all 300ms;
    max-width: 320px;
    margin: 0 !important
}

.image-thumb:hover {
    transform: translateY(-4px);
}

@media screen and (max-width: 500px) {
    .card-background, .card-background-stack, .card-connect {
        margin: 16px -6px;
    }

    .card-background-stack {
        flex-direction: column;
    }

    .col {
        width: 50%;
        flex-direction: column;
        align-items: baseline;
        gap: 0;
    }

    .card-description {
        width: 70%;
    }

    .first-entry {
        min-height: 320px !important;
    }

    .card-year {
        text-align: right;
        text-wrap: nowrap;
    }

    .rounded {
        padding: 1% 3% !important;
    }

    .card-link {
        flex-direction: column;
    }
}

.post-content a:hover {
    color: #000;
}

.card-background:hover {
    background-color: #f1f4f5;
}

.card-background:hover .card-title .fi {
    transition: all 150ms;
}

.card-background:hover .card-title .fi {
    transform: translateX(4px);
}

.card-background img {
    transition: all 300ms;
}

.card-background:hover img {
    transform: scale(1.05,1.05);
}

.card-paragraph {
    margin: 0 0 !important;
    color: #9b9fa0;
    font-size: 16px;
}

.card-title {
    font-weight: 500 !important;
    margin: 0 0 !important;
    font-size: 15px !important;
}

.card-icon {
    width: 32px;
    filter: drop-shadow(rgb(0, 0, 0, 0.15) 0px 4px 2px);
}

.card-icon-and-title {
    display:flex; 
    gap: 8px; 
    align-items: center
}

.card-icon-title-and-description {
    display: flex;
    align-items: center;
    gap: 16px;
}

.flex-grid {
    display: flex;
    justify-content: space-between;
  }

.col {
    width: 50%; 
}

.col-3 {
    width: 33%;
}

.fib, .fi {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
  
.fi {
    position: relative;
    display: inline-block;
    width: 1em;
    line-height: 1em;
}

.fi:before {
    content: " ";
}

.fib:after {
    content: " ";
}

  
.fi.fis {
    width: 0.8em;
}
  
.fip {
    position: relative;
    display: inline-block;
    width: 20px;
    line-height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-connect {
    display: flex;
    border-radius: 300px;
    transition: all 150ms; 
    line-height: 35px; 
}

.btn-white {
    background-color: #fff;
    justify-content: center;
}

.rounded {
    gap: 8px;   
    padding: 1% 2%;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;    
}

.circled {
    justify-content: center;
    width: 45px;
    height: 45px;   
}

.btn-connect:hover {
    background-color: #f2f4f5 ;
}

.btn-white:hover {
    background-color: #fff;
}


.arrow span {
    transition: all 150ms;
}

.arrow:hover span {
    transform: translateX(4px);
}

.photo-footnote {
    text-align: end;
    font-size: 13px !important;
    margin-top: -16px;
}

.about-links {
    display: flex;
    gap: 8px;
}

.home-about-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px!important;
}

.comments-separator {
    height: 0;
}

.first-entry {
    min-height: 280px;
}

#menu a {
    color:#9b9fa0;
    font-weight: 300;
    transition: all 150ms;
    font-size: 16px;
}

#menu .active {
    box-shadow: none;
}

.footer a {
    box-shadow: none;
}

.footer a:hover {
    color: #8f9396;
    box-shadow: none;
}

.footer, .top-link {
    font-size: 12px;
    color: #9b9fa0;
}

.box-notes {
    border-radius: 8px;
    border: 1px solid;
    padding: 3%;
    font-size: 16px;
}

.tag {
    padding: 0.5% 1.5%;
    font-size: 14px;
    display: inline;
    font-weight: 500;
    border-radius: 8px;
}

.green {
    background-color: #bbdc5860;
}

.text-green {
    color: #6ab04c;
}

.border-green {
    border-color: #6ab04c;
}

.orange {
    background-color: #ffbf763f;
}

.text-orange {
    color: #f0932b;
}

.border-orange {
    border-color: #f0932b;
}

.blue {
    background-color: #686de060;
}

.text-blue {
    color: #4834d4;
}

.border-blue {
    border-color: #4834d4;
}

.purple {
    background-color: #964df626;
}

.border-purple {
    border-color: #964DF6;
}

.yellow-background {
    background-color: #f6e58d40;
}

.yellow-border {
    border-color: #f9ca24;
}

.numbering {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-bottom: 8px;
}

.numbers {
    background-color: #000;
    width: 24px;
    height: 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
}

.numbers-label {
    width: 95%;
    font-size: 16px;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.intro-description {
    font-size: 20px;
    line-height: 1.4em;
    color: #777e7f;
}

.intro-details {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 15px;
}

.intro-details-wrapper {
    padding: 2% 0;
    margin-bottom: 32px;
}

.post-content h5 {
    font-size: 16px;
}

.post-content img {
    border-radius: 8px;
}

.toc.side {
    font-size: 14px;
}

.toc {
    background: #f1f4f5;
    border: 1px solid #f1f4f5;
}

.stack-title {
    margin: 32px 0 8px !important;
}

/* Lightbox */

.glightbox-styled .goverlay {
    background-color: rgba(0, 0, 0, .4);
}

/* dot */

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.yellow-dot {
    background-color: #f9ca24;
}

.gray-dot {
    background-color: #e4e6e7;
}

.dot-container, .language-and-dot-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.gap-16 {
    gap: 16px;
}

.label-yellow {
    font-size: 14px;
    color: #9F8032;
    background-color: #FFF8E7;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all 150ms;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.label-yellow:hover {
    background-color: #fdefcf;
}