body {
    font-family: "Source Sans 3", sans-serif;
    zoom: 80%;
}

strong {
    font-weight: 600;
}

.list-page {
    background: #fff;
}

.post-entry:hover .entry-header h2 {
    color: var(--link-hover-color);
    box-shadow: none;
}

.post-content a, .post-content a:hover {
    box-shadow: none;
}

.post-entry {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.entry-cover {
    width: 35%;
    margin: 0;
}

.card-background {
    padding: 2% 4%;
/*    border: 1px solid var(--border); */
    border-radius: 8px;
    margin: 16px -30px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: transparent;
    transition: background-color 300ms;
}

@media screen and (max-width: 500px) {
    .card-background {
        margin: 16px -15px;
    }
}

.card-background:hover {
    background-color: #f7f9f6;
}

.card-paragraph {
    margin: 0 0 !important;
    color: #9fa2a5;
}

.card-title {
    font-weight: 600;
    margin: 0 0 !important;
}

.card-icon {
    width: 50px;
    filter: drop-shadow(rgb(0, 0, 0, 0.15) 0px 4px 2px);
}

.card-icon-and-description {
    display:flex; 
    gap: 16px; 
    align-items: center
}

.flex-grid {
    display: flex;
    justify-content: space-between;
  }

  .col {
    width: 50%; 
}

.fib, .fi {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  
  .fi {
    position: relative;
    display: inline-block;
    width: 1em;
    line-height: 1em;
  }

  .fi:before {
    content: " ";
  }
  
  .fi.fis {
    width: 0.8em;
  }