.list-page {
    background: #fff;
}

.post-entry:hover .entry-header h2 {
    color: var(--link-hover-color);
    box-shadow: none;
}

.post-entry {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.entry-cover {
    width: 35%;
    margin: 0;
}